body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a;
  color: #fff;
}
body {
      overflow: hidden;
    }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: transparent; /* Set the text color to transparent */
      -webkit-text-stroke: 2px #fff; /* For webkit-based browsers (Safari, Chrome, etc.) */
      text-stroke: 2px #fff; /* For browsers supporting the standard text-stroke property */
      font-weight: bold;
     letter-spacing: 5px;
     text-transform: uppercase;

}
.page-content {
  position: relative;
  z-index: 1; /* Ensure the content is on top of the stars */
  padding: 20px;
  color: #fff; /* Text color */
}

.stars-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Custom CSS properties to control star generation */
:root {
  --star-count: 100; /* Number of stars to generate */
}
/* Common star styles */
.star {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.8;
}

/* Animation for flying stars */
@keyframes flyStar {
  0% {
    transform: translateY(0) translateX(0) scale(1);
    opacity: 0.8;
  }
  100% {
    transform: translateY(calc(-100% + 50px)) translateX(calc(-100% + 50px)) scale(0.2);
    opacity: 0;
  }
}

/* Apply the animation to each star */
.star {
  animation: flyStar linear infinite;
}
#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

label {
  font-weight: 300;
  font-size: 1.2rem;
  margin-right: 10px;
}

input {
  width: 100%;
  max-width: 200px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #333;
  background-color: #333;
  color: #fff;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #9f1c1c;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  width: 100%;
  max-width: 200px;
}

button:hover {
  background-color: #b32525;
}

button.playing {
  background-color: #dc3545;
}

button i {
  margin-right: 8px;
}
@keyframes vibrate {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px) rotate(1deg); }
  50% { transform: translateX(2px) rotate(-1deg); }
  75% { transform: translateX(-2px) rotate(1deg); }
  100% { transform: translateX(0); }
}

.vibrate {
  animation: vibrate 0.1s linear infinite;
}
